.lexr-container { 
	display: grid;
	grid-template-areas:
		'intro intro'
		'item1 item2'
		'item3 item4'
		;
	grid-template-columns: 2fr 2fr;
	gap: 10px;
	background-color: #3730c4;
	padding: 10px;
}
.lexr-container > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}
.lexr-container h1 {
	font-size:50px;
}
.lexr-container h2 {
	font-size: 40px;
}
.lexr-container a {
    color: black;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.4s ease;
}
.lexr-container a:hover {
	text-decoration: none;
}
.lexr-container img {
	width: 350px;
	height: 350px;
	transition: .0.2 ease-out;
}
.lexr-container img:hover {
	transform: scale(1.1);
}


.intro { 
	grid-area: intro; 
	padding: 10px;
}
.intro p {
	font-size:30px;
}
.intro a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.2s ease;
}
.intro a:hover {
	transform: scale(150%);
	color: white;
	text-decoration: none;
}
.item1 { 
	grid-area: item1; 
	padding: 10px;
}
.item1 p {
	font-size:30px;
}
.item1 a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.2s ease;
}
.item1 a:hover {
	transform: scale(150%);
	color: white;
	text-decoration: none;
}
.item2 { 
	grid-area: item2; 
	padding: 10px;
}
.item2 p {
	font-size:30px;
}
.item2 a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.2s ease;
}
.item2 a:hover {
	transform: scale(150%);
    background-color: #0066B1;
	color: white;
	text-decoration: none;
}
.item3 { 
	grid-area: item3; 
	padding: 10px;
}
.item3 p {
	font-size:30px;
}
.item3 a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.2s ease;
}
.item3 a:hover {
	transform: scale(150%);
	color: white;
	text-decoration: none;
}
.item4 { 
	grid-area: item4; 
	padding: 10px;
}
.item4 p {
	font-size:30px;
}
.item4 a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.2s ease;
}
.item4 a:hover {
	transform: scale(150%);
	color: white;
	text-decoration: none;
}