.lexr-container { 
	display: grid;
	grid-template-areas:
		'intro intro'
		'item1 item2'
		;
	grid-template-columns: 2fr 2fr;
	gap: 10px;
	background-color: #3730c4;
	padding: 10px;
}
.lexr-container > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}
.lexr-container h1 {
	font-size:50px;
}
.lexr-container h2 {
	font-size: 40px;
}
.lexr-container a {
    color: black;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.4s ease;
}
.lexr-container a:hover {
	color: #3730c4;
	text-decoration: underline;
}

.intro { 
	grid-area: intro; 
	padding: 10px;
}
.intro p {
	font-size:30px;
}
.intro a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.2s ease;
}
.intro a:hover {
	transform: scale(150%);
    background-color: #0066B1;
	color: white;
	text-decoration: underline;
}
.item1 { 
	grid-area: item1; 
	padding: 10px;
}
.item1 p {
	font-size:30px;
}
.item1 a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.2s ease;
}
.item1 a:hover {
	transform: scale(150%);
    background-color: #0066B1;
	color: white;
	text-decoration: underline;
}
.item2 { 
	grid-area: item2; 
	padding: 10px;
}
.item2 p {
	font-size:30px;
}
.item2 a {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
	transition: 0.2s ease;
}
.item2 a:hover {
	transform: scale(150%);
    background-color: #0066B1;
	color: white;
	text-decoration: underline;
}